{% extends '::base.html.twig' %} 
  {% block title %}E_Gestion{% endblock %}
  {% block description %}Gérer votre entreprise{% endblock %} 
  {% block body%}
    <div id="corp">
          <div class="container">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                        
                                <h4> <b>Toutes les categories </b></h4>
                                   <table class="table table-condensed">
                                     <thead>
                                      <tr>
                                      <th>Num</th>
                                        <th>Categorie</th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody>
                                     {% for d in categorie %}
                                     

                                       <tr>
                                       <td>{{ loop.index }} </td>
                                       <td><b> {{d.nom}}</b></td>
                                       
                                     
                                      </tr>
                                     {% endfor %}
                                     </tbody>
                                     </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
        
      
   </div>
{% endblock %} 
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src=" {{ asset('bundles/framework/js/location.js') }} "></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
 