{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
  <div class="surface">

    <div class="info">
     <div class="panel panel-danger">
       
       <div class="panel-heading"> 
             <div class="icon">
             <a href="{{path('gestion')}}" rel="nofollow">
               <img src="{{ asset('bundles/framework/images/attention.png') }}" class="img-rounded" alt="icon_bureau" width="60" height="60"></a>
              </div>
        
             <h3> Êtes-vous  sûr de vouloir supprimer ce site?</h2>
             <h4><b>Attention!<b></h4>
              <p> Toutes les surfaces, les locations et les réservations liées à ce site seront également supprimées!</p>
        </div> 
    
      <div class="panel-body" >
             <div id="bureau">
              <ul>
              <li><h4>Informations sur le site: </h4></li>
                <li>Catégorie:{{site.categorie}}</li>
                <li>Nom:{{site.nom}}</li>
                <li>Nombre de locations en cours de validité:{{locations}} </li>
                <li>Nombre de réservations confirmées:{{reservations}}</li>
               
                 <a class="bbtn btn-danger btn-sm"  id="supprimer" title="Supprimer" href="{{path('supprimerSite',{'id':site.id})}}">Je veux supprimer ce site </a>
              <a class="bbtn btn-success btn-xs" id="reserver" href="{{path('gestion')}}">Retour </a>
                 </ul>

                 
                   
                
        <!--  <div id="action">
              <a class="bbtn btn-danger btn-xs" id="supprimer" href="supprimerSurface',{'id':surface.id})">Supprimer </a>
              <a class="bbtn btn-default btn-xs" id="retour" href="{{path('gestion')}}">Retour </a></div> -->
          </div>
      
      </div>
    </div>
</div>
</div>
 {% endblock %}
 