{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
  <div class="surface">

    <div class="info">
     <div class="panel panel-danger">
       
       <div class="panel-heading"> 
             <div class="icon">
             <a href="{{path('gestion')}}" rel="nofollow">
               <img src="{{ asset('bundles/framework/images/attention.png') }}" class="img-rounded" alt="icon_bureau" width="60" height="60"></a>
              </div>
        
             <h3> Êtes-vous  sûr de vouloir supprimer cette surface?</h2>
             <h4>Attention!</h4>
              <p> Toutes les locations et les réservations liées à cette surface seront également supprimées!</p>
        </div> 
    
      <div class="panel-body" >
             <div id="bureau">
              <ul>
              <li><h4>Informations </h4></li>
               <li>Nom:{{surface.num}}</li>
              
                {% if location|length>0 %}
                <li> Cette surface est louée !</li>
                {% else %}
                <li> Cette surface n'est pas louée !</li>
                {% endif %}
                 {% if reservation|length>0 %}
                <li>cette surface est réservée ! </li>
                {% else %}
                 <li>cette surface n'est pas réservée ! </li>
                 {% endif %}
                 <a class="bbtn btn-danger btn-sm"  id="supprimer" title="Supprimer" href="{{path('supprimerSurface',{'id':surface.id})}}">Je veux supprimer cette surface </a>
                
              <a class="bbtn btn-success btn-xs" id="reserver" href="{{path('gestion')}}">Retour </a>
                 </ul>

                 
                   
                
        <!--  <div id="action">
              <a class="bbtn btn-danger btn-xs" id="supprimer" href="supprimerSurface',{'id':surface.id})">Supprimer </a>
              <a class="bbtn btn-default btn-xs" id="retour" href="{{path('gestion')}}">Retour </a></div> -->
          </div>
      
      </div>
    </div>
</div>
</div>
 {% endblock %}
 