{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
  <div class="surface">

    <div class="info">
     <div class="panel panel-danger">
       
       <div class="panel-heading"> 
             <div class="icon">
             <a href="{{path('gestion')}}" rel="nofollow">
               <img src="{{ asset('bundles/framework/images/attention.png') }}" class="img-rounded" alt="icon_bureau" width="60" height="60"></a>
              </div>
        
             <h3> Êtes-vous  sûr de vouloir supprimer cette catégorie?</h2>
             <h4>Attention!</h4>
              <p> Tous les sites, les surfaces, les location et les réservations liées à cette catégorie seront également supprimées!</p>
        </div> 
    
      <div class="panel-body" >
             <div id="bureau">
              <ul>
              <li><h4>Informations </h4></li>
              
               <li>Nom:{{cat.nom}}</li>
                <li>Les sites qui seront supprimés </li>
                <ol>{% for c in cat.sites %}

                  <li> {{c.nom}}</li>
                  {% endfor %}
                  </ol>
             
                <a class="bbtn btn-danger btn-sm"  id="supprimer" title="Supprimer" href="{{path('supprimerCat',{'id':cat.id})}}">Je veux supprimer cette surface </a>
              <a class="bbtn btn-default btn-xs" id="reserver" href="{{path('mesCat')}}">Retour </a>
                 </ul>


          </div>
      
      </div>
    </div>
</div>
</div>
 {% endblock %}
 