 ob_start();
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}E_Gestion{% endblock %}</title>
  {% block stylesheets %}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
  <link rel="stylesheet" href="C:\wamp64\www\BandCo2.7\path\web\bundles\framework\css\contrat.css" type="text/css" media="all" />
  {% endblock %}
  <!-- <link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" /> -->

</head>
<body> 

<div class="contrat">
<div id="logo"><img src="C:\wamp64\www\BandCo2.7\path\web\bundles\logo.png" width="200" height="100" alt="logo" /></div><br>
<div id="cadre">CONVENTION DE PRESTATION DE SERVICES </div><br>
<div class="contenu">
 ENTRE LES SOUSSIGNES :</div><br>

<div class="p">
Bureaux&Co, société à responsabilité limitée, au capital social de 1000 euros, inscrite au registre du commerce et des sociétés de MONTPELLIER sous le numéro SIREN 805 399 821, et habilitée à exercer l'activité de domiciliataire en vertu de l’agrément préfectoral de l’HERAULT numéro DOM/34/53, dont le siège social est 84, rue Maurice Béjart 34080 MONTPELLIER, prise en la personne de son représentant légal en exercice  domicilié audit siège en cette qualité,
</div><br>

<div class="p">Ci-après dénommée « le Prestataire »</div><br>
<div class="rigth"><b>D'UNE PART </b></div><br>


<div class="p">ET </div><br>

<div class="p">
<b>{{location.locataire}}</b>, {{location.locataire.formeJuridique}}, {{location.locataire.capital}} €, inscrite au registre du commerce et des sociétés de <b>{{location.locataire.siegeSocial}} </b> sous le numéro SIREN :<b>{{location.locataire.numSiret}}</b>, dont le siège social est situé à <b>{{location.locataire.siegeSocial}} </b>représentée par: <b>{{location.locataire.representant}} </b>en exercice domicilié audit siège en cette qualité,</div>
<div class="p">Ci-après dénommé(e) « le Client »</div><br>
<div class="rigth"><b>D'AUTRE PART</b></div><br>
<div class="rigth"><b>IL A ETE CONVENU ET ARRÊTÉ CE QUI SUIT : </b></div><br>

  <div class="p"> La SARL Bureaux & Co, autorisée expressément par son propre bailleur, la SCI ELINYA, à mettre à disposition ou opérer domiciliation de tout ou partie de ses locaux sis 84, rue Maurice Béjart, 34080 MONTPELLIER, et bénéficiant à cet effet d’un agrément du Préfet de l’HÉRAULT, accepte de mettre à disposition un local équipé à usage de bureau à ladite adresse :</div><br>
  <div class="p"><b>{{location.locataire}}</b> qui accepte cette prestation pour la durée et aux charges, clauses et conditions ci-après.<br>

Ce contrat se substitue à tout engagement antérieurement passé entre les parties. </div><br>


<div class="rigth"><b> I – CONDITIONS PARTICULIÈRES</b></div><br>

<div class="p">Le Prestataire assure une prestation de mise à disposition un local équipé à usage de bureau au Client selon un mode et des conditions définies ci-dessous. </div><br>

<div class="rigth"><b> Article 1 - Prestations </b></div><br>

<div class="p">Le Prestataire fournit au Client plusieurs prestations définies ci-dessous au sein d’un espace de travail dont les caractéristiques (ci-après « l’Espace ») sont les suivantes :<br>
 - Adresse de l’espace :
 <b> {{location.site.adresse}}-{{location.site.ville}}-{{location.site.pays}}</b><br>
 - Surface total de l’espace :<b> ({{location.surface}}) m2 </b><br>
- Description de l’espace : <b>{{location.surface}}</b></div><br>
<div class="p"> Au titre de la fourniture des prestations incombant au Prestataire au profit du Client, le Prestataire devra laisser accéder le Client à l’Espace dans les conditions suivantes :<br>

- Accès à l’espace de (…) heures à (…) heures (ou 24h/24h) du (…) au (…) <br>

- Accueil des visiteurs aux heures ouvrés (h-h)<br>

- Mise à disposition d’un code d’accès d’entrée au sein de l’Espace <br>

- Mise à disposition d’une clef permettant l’ouverture et la fermeture du bureau n° ou la salle de réunion <br>

- Mise à disposition du mobilier suivant :<br>

equipement<br>

Réception du courrier 

Mise à disposition d’une boite aux lettres et sa clef<br>

Accès aux espaces communs :
. Sanitaires mixtes
-Connexion Internet ADSL par WIFI 
-entretien des parties communes 
-Paiement des Taxes et charges incluses : électricité / chauffage / climatisation<br>

Service(s) supplémentaire(s) : <br>

- Mise à disposition du(es) service(s) suivants :<br>
- Numéro de Téléphone(s)<br>
- Fax <br>
- Réception de colis  </div><br><br><br>

<div class="p">Toute prestation non souscrite et fournie en plus sera facturée selon le tarif en vigueur.<br>

(Il est à signaler que le Prestataire n'effectue aucun appel téléphonique, ni envoie de télécopie sauf accord exprès de la direction).<br>

Le Client déclare qu’il a visité l’Espace et qu’il reconnaît que celui-ci convient tout à fait pour son activité.<br>
- Un état des lieux contradictoire sera établi et annexé au présent contrat, dans les huit jours de la signature des présentes entre les deux parties ainsi que le jour de la rupture du présent contrat.</div>
<div class="rigth">Article 2 – Durée  </div>
<div class="p">Le présent contrat est consenti et accepté pour une durée de (…) jour/mois à compter du <b>{{location.dateDebut|date("d/m/Y à H:m")}}.</b></div><br>
<div class="right"> Article 3 – Tarifs et Dépôt de garantie</div><br>
<div class="p">
Le présent contrat est consenti et accepté moyennant le versement mensuel par le Client de la somme forfaitaire de .................... € H.T., soit la somme de ................. € T.T.C. </div><br>

<div class="p">Le tarif ci-dessus tient compte du taux de TVA en vigueur à ce jour soit 20% qui évoluera automatiquement en fonction de la législation en vigueur.</div>

<div class="p">Les prix et services seront susceptibles d’être révisés chaque année.</div><br>

<div class="p">Un dépôt de garantie équivalent à une redevance de ..... jour/mois est exigible lors de la signature des présentes, soit la somme de ..........................  € H.T, soit ..................... € T.T.C.</div><br>

<div class="p">Cette avance de ....... jour/mois non productive d'intérêts est destinée à couvrir soit un défaut de règlement, soit la conséquence de dommages occasionnés par le Client et ses préposés ou ses invités. </div><br>

<<div class="p">Le premier paiement s’établira ainsi :
-Redevance : .............. € T.T.C <br>
-Frais de dossier : ........ € T.T.C <br>
-Dépôt de garantie : ......... € T.T.C. <br>
-Service(s) supplémentaire(s) : ....... € T.T.C <br></div>

<div class="p">Ce contrat est ferme et définitif à la signature et aucun remboursement partiel ou total ne pourra être revendiqué par le Client.</div><br>

<div class="p">Ce contrat est établi en deux exemplaires originaux.</div><br>


<div class="rigth">FAIT À MONTPELLIER, </div><br>
Le <br>

<div class="rigth"> Signature, précédée des mentions « Lu et approuvé, bon pour accord »</div>

<br> <div class="rigth"> Le Prestataire </div>   <div class="left"> le Client </div>
 </div>
</body>
</html>
