{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
<div class="bloc">
 
  <!-- On affiche le nom et l'adresse du site -->
  <h2 id="site"> {{mysite.nom}}</h2>
  <p style="display:none">{{mysite.id}}</p>

  <h3> Adresse: {{mysite.adresse}}-{{mysite.ville}}-({{mysite.pays}})</h3> <br>
   
<div id="bar_prog" style="width:30%; display: inline-block; margin-left:30%">Informations enregistrées sur ce site : <b>{{bar}}% </b><br>
{% if bar < 100 %}
<p>(Informations manquantes: {{mysite.nbBureau-bureau}} Bureau(x),{{mysite.nbSalleFormation-salleFormation}} salle(s) de Formation, {{mysite.nbSalleReunion-salleReunion}} salle(s) de réunion, {{mysite.nbCoWorking-coworking}} espace(s) co-working) <a class="bbtn btn-success btn-xs" id="completer" href="{{path('nouvelleSurface')}}" style="background-color: #6C93A7; display: inline-block;">Compléter ce site </a></p> 


  <div class="progress" style="width:100%; display:inline-block;">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" id ="bar" style=" background-color: #6C93A7; color:black;display: inline-block"> {{bar}}% </div>{% endif %}
</div></h4></div>
  <!-- on vérifie s'il ya des données à afficher  -->
 <!--  {% if surfaces|length<=0 %}<a class="bbtn btn-success btn-xs" id="completer" href="{{path('nouvelleSurface')}}" style="background-color: #6C93A7; display: inline-block;">Compléter ce site </a>

   si le site existe mais ne contient aucune données -->
  <!-- <h4>Aucune information sur les surfaces de ce site!  <a class="bbtn btn-success btn-xs" id="completer" href="{{path('nouvelleSurface')}}" style="width:10%; background-color: #6C93A7">Compléter ce site </a></h4> -->
  <!-- sinon( il ya des données) on les affiche alors-->
<!--   {% else%} --> 
   <!--   <div class="info" id="info">
       <div class="panel panel-default">
       <div class="panel-heading"> 

          <b>Filtrer ici : </b>
          <form action="" > 
            <select name="customers" id="selectType">
      
              <option value="Tous">Tous</option>
              <option value="Bureau">Bureau</option>
              <option value="SalleReunion">Salles de Réunion</option>
              <option value="SalleFormation">Salle de formation</option>
              <option value="CoWorking">Espace co-working</option>
              <option value="BoitePostale">Boîte postale</option>
          </select>
              <select id="libreOrNot">
              <option value="oui">Libre</option>
              <option value="non">Occupé</option>
              <option value="reserve">Réservé</option></select>
          </form>
         

       </div>
         <div class="panel-body" >
             <div id="bureau">
            <table class="table table-condensed" id="t">
             <thead>
              <tr>
                <th>Numéro</th>
                <th>Equipement</th>
                <th>Nombre de personne Max</th>
                <th>Actions </th>
                

              </tr>
            </thead>
            <tbody>
             {% for s in surfaces %}

             <tr>
              <td> {{s.num}}</td> 
              <td>{{s.equipement}}</td>
              <td>{{s.nbMax}}</td> 

              <td><a class="bbtn btn-warning btn-xs" id="reserver" href="">Résever </a></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
      
      </div>
  </div>
 <div class="navigation">
    {{ knp_pagination_render(surfaces) }}
</div>
</div> -->
<div id="table" >
  <table class="table table-condensed"  >
   <thead>
    <tr>
      

     
     <th><center> <div class="navigation">
      {{ knp_pagination_render(surfaces) }}
    </div></center></th>
    
  </tr>
</thead>
<tbody>
 {% for d in surfaces %}

 <tr>
  
  <td> 
   <div class="info">
    {% if d.Aenfant=="oui" %}
     <div class="panel panel-default">
       
       <div class="panel-heading"> 
        {{d.num}}: est désactivé(e) suite à la création des enfants
        <div id="action"><a class="glyphicon glyphicon-baby-formula" href="{{ path('enfant',{'id':d.id})}}" title="Créer un enfant"></a> <a class="glyphicon glyphicon-edit" href="{{ path('editerSurface',{'id':d.id})}}" title="Modifier"></a></div>
      </div>
      {% endif %}
     {% if d.libre=="oui" and d.Aenfant=="non" %}
     <div class="panel panel-success">
       
       <div class="panel-heading"> 
        {{d.site}}: Disponible :Immédiatement
        <div id="action"><a class="glyphicon glyphicon-baby-formula" href="{{ path('enfant',{'id':d.id})}}" title="Créer un enfant"></a>  <a class="glyphicon glyphicon-duplicate" href="{{ path('duplicate',{'id':d.id})}}" title="Dupilquer cette surface"></a>   <a class="glyphicon glyphicon-edit" href="{{ path('editerSurface',{'id':d.id})}}" title="Modifier"></a> <a class="glyphicon glyphicon-trash" href="{{ path('confirmSupprimer',{'id':d.id})}}" title="Supprimer"> </a> </div>
      </div>
      {% endif %}

      {% if d.libre=="non" %}
      <div class="panel panel-danger">
        <div class="panel-heading"> 
         {{d.site}}: Occupé(e) <br> Date de disponibilité: 
         <div id="action"><a class="glyphicon glyphicon-duplicate" href="{{ path('duplicate',{'id':d.id})}}" title="Dupilquer"></a> <a class="glyphicon glyphicon-edit" href="{{ path('editerSurface',{'id':d.id})}}" title="Modifier"></a> <a class="glyphicon glyphicon-trash" href="{{ path('confirmSupprimer',{'id':d.id})}}" title="Supprimer"> </a> </div>
         
         {% for res in resultats %}
         {% if d.num==res.surface %}
         <ul>
         
          <li>Locataire: {{res.locataire}}- Fin de contrat le : {%if res.preavis=="oui" %}{{res.dateFin|date("d/m/Y à H:m")}} </li> 
          <li>
           <a class="bbtn btn-warning btn-xs" id="reserver" href="{{path('reservation',{'id':d.id})}}">Résever </a>
             <a class="bbtn btn-success btn-xs" id="louer" href="{{path('location',{'id':d.id})}}">Louer </a>{% else %}{{res.preavis}} {% endif %}</li></ul>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        {% if d.libre=="réservé" %}
        <div class="panel panel-warning">
         <div class="panel-heading"> 
          {{d.site}}:Réservé  
          <div id="action"><a class="glyphicon glyphicon-duplicate" href="{{ path('duplicate',{'id':d.id})}}" title="Dupilquer"></a>   <a class="glyphicon glyphicon-edit" href="{{ path('editerSurface',{'id':d.id})}}" title="Modifier"></a> <a class="glyphicon glyphicon-trash" href="{{ path('confirmSupprimer',{'id':d.id})}}" title="Supprimer"> </a> </div>
          {% for reservation in resultat %}
          {% if reservation.surface==d.num %}
          <ul>
            <li>Client: {{reservation.nomClient}}- Date début prévue : {{reservation.dateDebut|date("d/m/Y à H:m")}}</li>
            <a class="glyphicon glyphicon-thumbs-up" id="confirmer" href="{{path('confirmerReservation',{'id':reservation.id})}}" title="Confirmer"> Confirmer</a>
            <a class="glyphicon glyphicon-thumbs-down" id="annuler" href="{{path('supprimerReservation',{'id':reservation.id})}}" title="Annuler">Annuler</a></ul>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          
          <div class="panel-body" >
           <ul>
             <li> Nom: {{d.num}}</li>
             <li> Déscription: {{d.description}}</li>
             <li> Etage:{{d.etage}}</li>
             <li> Superficie commerciale : {{d.superficieCommerciale}}m2</li>
             <li> Superficie réelle: {{d.superficieReelle}}m2</li>
             <li> Capacité: {{d.nbMax}} personne(s)</li>
             <li> A des enfants: {{d.Aenfant}}</li>
             <li> <b>Tarif: </b>{{d.tarif}}</li>
             {% if d.libre=="oui" and d.Aenfant=="non" %}
             <a class="bbtn btn-warning btn-xs" id="reserver" href="{{path('reservation',{'id':d.id})}}">Résever </a>
             <a class="bbtn btn-success btn-xs" id="louer" href="{{path('location',{'id':d.id})}}">Louer </a>
             {% endif %}
             {% if d.libre=="réservé" %}
             <div id="action">
             <a class="bbtn btn-success btn-xs" id="louer" href="{{path('location',{'id':d.id})}}">Louer </a></div>
             
             {% endif %}
             

           </ul>
         </div>
       </div>
     </div>
   </td>
 </tr>
 {% endfor %}

</table>

<tbody>


</div>
</div>
{% endif %}
</div>

{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src=" {{ asset('bundles/framework/js/bar.js') }} "></script>

{% endblock %} 