{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


 <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <h2>{{title}}</h2>
 <div class="f">
  <p>{{message}}</p>
 
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
          
            <div class="form-group">

              {{ form_label(form.num, "Numéro de l'enfant : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.num) }}
              {{ form_widget(form.num, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">

              {{ form_label(form.description, "Description: ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.description) }}
              {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
          <!--  SECOND INSPUT FOR THE ADRESSE-->
            <div class="form-group">
              {{ form_label(form.nbMax, "Nombre de place :  ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.nbMax) }}
              {{ form_widget(form.nbMax, {'attr': {'class': 'form-control'}}) }}
            </div>    
           <!--  INSPUT FOR THE TOWN -->
            <div class="form-group">
              {{ form_label(form.equipement, "Equipements", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.equipement) }}
              {{ form_widget(form.equipement, {'attr': {'class': 'form-control'}}) }}
            </div>
               <!--  INSPUT FOR THE COUNTRY -->
           
             <!--  INSPUT FOR THE ... -->
            <div class="form-group">
              {{ form_label(form.etage, "L'étage ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.etage) }}
              {{ form_widget(form.etage, {'attr': {'class': 'form-control'}}) }}
            </div>  
             <!--  INSPUT FOR THE offices-->
              <div class="form-group">
              {{ form_label(form.superficieReelle, "La superficie réelle : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.superficieReelle) }}
              {{ form_widget(form.superficieReelle, {'attr': {'class': 'form-control'}}) }}
            </div>  
             <div class="form-group">
              {{ form_label(form.superficieCommerciale, "La superficie commerciale : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.superficieCommerciale) }}
              {{ form_widget(form.superficieCommerciale, {'attr': {'class': 'form-control'}}) }}
            </div> 
              <div id="tarif">
              {{ form_rest(form)}} 
             </div>
               
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>
             <hr>
            {{ form_end(form) }}
            </form>
        </div>

   </div>
 {% endblock %} 

