{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
    {% if list|length<=0 %}
    <div class="surface"> 
    <h4> Aucun site n'a été trouvé.</h4></div>
    {% else %}


<!--  <h2> Nouveau Bureau </h2> -->
<div class="bloc"> 
  <div class="f">
    
    <table class="table table-condensed">
     <thead>
      <tr>
        <th>Num</th>
        <th>Nom du Site</th>
        <th>Bureaux</th>
        <th>Salle de réunion</th>
        <th>Salle de formation</th>
        <th>Espace co-working</th>
        <th>Boîte postale</th>
        <th>Parking</th>
      </tr>
    </thead>
     
      <tbody>
      {% if is_granted('ROLE_ADMIN') %}
      {% for site in list %}
     <tr>
      <td> {{loop.index}}</td>
      <td> {{site.nom}}</td>
      <td>{{site.nbBureau}}  </td>
      <td>{{site.nbSalleReunion}}</td>
      <td>{{site.nbSalleFormation}}</td>
      <td>{{site.nbCoWorking}}</td>
      <td>{{site.nbBoitePostale}}</td>
      <td>{{site.nbParking}}</td>
      <td> <a href="{{ path('details',{'id':site.id}) }}">Détails </a></td>
      <td>
        <div id="action"><a class="glyphicon glyphicon-edit" href="{{ path('editerSite',{'id':site.id})}}"></a> <a class="glyphicon glyphicon-trash" href="{{ path('confirmSupprimerSite',{'id':site.id})}}"> </a> </div></td>
       
    </tr>
    {% endfor %}
    {% else %}
     <tr>
     <td>1</td>
      <td> {{list.nom}}</td>
      <td>{{list.nbBureau}}  </td>
      <td>{{list.nbSalleReunion}}</td>
      <td>{{list.nbSalleFormation}}</td>
      <td>{{list.nbCoWorking}}</td>
      <td>{{list.nbBoitePostale}}</td>
      <td>{{list.nbParking}}</td>
      <td> <a class="bbtn btn-success btn-xs" href="{{ path('details',{'id':list.id}) }}">Détails </a></td>
      <td>
        <div id="action"><a class="glyphicon glyphicon-edit" href="{{ path('editerSite',{'id':list.id})}}"></a> </div></td>    
    </tr>
{% endif %}
  </tbody>

</table>
{% if is_granted('ROLE_ADMIN') %}
 <center> <div class="navigation">
    {{ knp_pagination_render(list) }}
</div></center>
  {% endif %} 
</div>
</div>
{% endif %}
{% endblock %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src=" {{ asset('bundles/framework/js/fonctions.js') }} "></script>
{% endblock %}