{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
<div class="surface"> 
 <h2> Info Réservation : </h2>
   <div id="f1">
           <ul id="infoClient">
             <li> Le client: {{reservation.nomClient}}</li>
             <li> Site:{{reservation.site}}</li>
             <li> Surface réservée:{{reservation.surface}}</li>
             <li>Date Réservation:{{reservation.dateReservation|date ("d/m/Y à H:m")}}</li>
             <li>Date début prévu:{{reservation.dateDebut|date ("d/m/Y à H:m")}}</li>
             <li>Confirmée:<b>{{reservation.confirmation}}</b></li>
             <!-- le représentant -->
             <a class="glyphicon glyphicon-edit" id="modifier" title="Modifier" href="{{path('editerReservation',{'id':reservation.id})}}"> </a>
             <a class="glyphicon glyphicon-trash" id="modifier" title="Supprimer" href="{{path('supprimerReservation',{'id':reservation.id})}}"> </a>
            </ul>
       
           <div id="action"><a class="bbtn btn-danger btn-sm" href="{{path('gestionClient')}}">Retour </a>   
  </div>
 </div>
  </div>

 {% endblock %} 

