{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}
{% block body%}
 <div class="surface"> 
 <h2> Info Location : </h2>
   <div id="f1">
    
           <ul id="infoClient">
             <li> Locataire: {{location.locataire}}</li>
             <li> Site:{{location.site}}</li>
             <li> Surface:{{location.surface}}</li>
             <li>Date début:{{location.dateDebut|date ("d/m/Y à H:m")}}</li>
             {% if location.preavis=="oui"%}
             <li>Date fin:{{location.dateFin|date ("d/m/Y à H:m")}}</li>
             {% else %}
              <li>Date fin:{{location.preavis}}</li>
              {% endif %}
             <!-- le représentant -->
             <a class="glyphicon glyphicon-edit" id="modifier" title="Modifier" href="{{path('editerLocation',{'id':location.id})}}"> </a>
             <a class="glyphicon glyphicon-trash" id="modifier" title="Supprimer" href="{{path('supprimerLocation',{'id':location.id})}}"> </a>
             <a href="{{path('contrat',{'id':location.id})}}">générer contrat </a>   
  
            </ul>

           <div id="action"><a class="bbtn btn-danger btn-sm" href="{{path('gestionClient')}}">Retour </a>   
  </div>

 </div>
  </div>

 {% endblock %} 

