{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
{% if site|length<=0 %}
<div class="surface"> 
  <h4> Aucun site n'est affécté à vous pour le moment.</h4></div>
  {% else %}
  <div class="bloc"> 
    <div class="f">

      <table class="table table-condensed">
       <thead>
        <tr>
          <th>Num</th>
          <th>Nom du Site</th>
          <th>Nombre des bureaux Libres</th>
          <th>Nombre des Salles de réunions Libres</th>
          <th>Nombre des salles de formation Libres</th>

        </tr>
      </thead>
      <tbody>
      
        {% for site in site %}
        <tr>
        <td> {{loop.index}}</td>  
          {% for nb in bureauLibre %}
        
        <td> {{site.nom}}</td>
        
         <td>{{nb}}/{{site.nbBureau}} </td>  
         <td>{{site.nbSalleReunion}}</td> 
         <td>{{site.nbSalleFormation}}</td>
{% endfor %}
        


        <td> <a class="bbtn btn-success btn-xs" href="{{ path('details',{'id':site.id}) }}">Détails </a></td>
        <td>
          <div id="action"><a class="glyphicon glyphicon-edit" href="{{ path('editerSite',{'id':site.id})}}"></a> <a class="glyphicon glyphicon-trash" href="{{ path('confirmSupprimerSite',{'id':site.id})}}"> </a> </div></td>

        </tr>



        
{% endfor %}
      </tbody>
    </table>

  </div>

</div>
{% endif %}
{% endblock %}
