{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
    {% if list|length<=0 %}
    <div class="surface"> 
    <h4> Aucune réservation n'a été trouvée.</h4></div>
    {% else %}
<div class="bloc"> 
<h2>Mes Réservations </h2>
  <div class="f">
    <table class="table table-condensed">
     <thead>
      <tr>
        <th>Num</th>
        <th>Client</th>
        <th>Surface</th>
        <th>Date Début prévue</th>
        <th>Confirmée </th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
     {% for reservation in list %}

     <tr>
      <td>{{loop.index}}</td>
      <td> {{reservation.nomClient}}</td>
      <td>{{reservation.surface}}  </td>
      <td>{{reservation.dateDebut|date("d/m/Y à H:m")}}</td>
     
      <td>{{reservation.confirmation}} </td>
       {% if reservation.confirmation=="non" %}
      <td><a href="{{path('confirmerReservation',{'id':reservation.id})}}"> Confirmer </a>-<a href="{{path('supprimerReservation',{'id':reservation.id})}}">supprimer </a></td>
      {% else %}
      <td> <a href="{{path('supprimerReservation',{'id':reservation.id})}}">supprimer </a></td>{% endif %}
      
       
    </tr>
    {% endfor %}
    

  </tbody>
</table>
 <center> <div class="navigation">
    {{ knp_pagination_render(list) }}
</div></center>
</div>

</div>
{% endif %}
{% endblock %}
