{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
    {% if list|length<=0 %}
    <div class="surface"> 
    <h4> Aucun contrat de location n'a été trouvé.</h4></div>
    {% else %}


<!--  <h2> Nouveau Bureau </h2> -->
<div class="bloc"> 
<h2>Mes Locations </h2>
  <div class="f">
    
    <table class="table table-condensed">
     <thead>
      <tr>
        <th>Num</th>
        <th>Locataire</th>
        <th>Surface</th>
        <th>Date Début</th>
        <th>Date Fin</th>
      </tr>
    </thead>
    <tbody>
     {% for location in list %}

     <tr>
      <td> {{loop.index}}</td>
      <td> {{location.locataire}}</td>
      <td>{{location.surface}}  </td>
      <td>{{location.dateDebut|date("d/m/Y à H:m")}}</td>
      {% if location.preavis=="oui" %}
      <td>{{location.dateFin|date("d/m/Y à H:m")}}</td>
      {% else %}
       <td>Non indiqué - <a href="{{path('preavis',{'id':location.id})}}">Préavis </a></td>
       {% endif %}
      <td> <a href="{{path('contrat',{'id':location.id})}}">Contrat </a>-<a href="{{path('supprimerLocation',{'id':location.id})}}">Supprimer</a></td>
       
    </tr>
    {% endfor %}

  </tbody>
</table>
 <center> <div class="navigation">
    {{ knp_pagination_render(list) }}
</div></center>
</div>

</div>
{% endif %}
{% endblock %}
