{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


 <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <h2> {{title}} : </h2>
 <div class="f">
 {{message}}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
      
             <div class="form-group">
            
               {{ form_label(form.locataire, "Nom du client : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.locataire) }}
              {{ form_widget(form.locataire, {'attr': {'class': 'form-control'}}) }}
              <div id="nouveauClient"> <a class="bbtn btn-primary btn-xs" id="nouveau" href="{{path('nouveauLocataire')}}">Nouveau client </a></div>
            </div>
             
        
            <div class="form-group"> 

              {{ form_label(form.dateDebut, "Date début : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.dateDebut) }}
              {{ form_widget(form.dateDebut) }}
            </div> 
           <!--  INSPUT FOR THE TOWN -->
         
              
           <hr>
             
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(form.Valider, {'attr': {'class': 'b'}}) }}
            </div>
             <hr>
             {{ form_rest(form)}} 
            {{ form_end(form) }}
            </form>
        </div>

   </div>
 {% endblock %} 
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src=" {{ asset('bundles/framework/js/location.js') }} "></script>
{% endblock %}
