<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}E_Gestion{% endblock %}</title>
        {% block stylesheets %}
		    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('bundles/framework/css/welcome.css') }}" type="text/css" media="all" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />

    </head>

    <body>
   
		<div class="container"> 
			
			  <div class="logo">
		              <a href="" rel="nofollow"><img src="{{ asset('bundles/logo.png') }}"></a></div>
		             
		               {% if error %}
				   			<div class="alert alert-danger">{{ error.message }}</div>
				 		{% endif %}
		              
		       			
			                         <form action="" method="POST" >
			                         <div class="form-group">
			                          <label for="username"></label>
			                        
			                          <input type="text" required="required" class="form-control" value="" name="username" id="username" placeholder="Votre identifiant">
			                           </div>

			                         <div class="form-group">
									        <label for="password">Password</label>
									        <input type="password" class="form-control" name="password" required="required" id="password" placeholder="Votre mot de passe">
			   						 </div>
			                         <button type="submit" class="pull-right btn btn btn-warning" id="blogin">Connexion</button>
			                        </form>
			    
			  
		</div> 
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

	