{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
    
    <div class="surface"> 
    {% if categorie|length<=0 %}
    <h4> Aucune catégorie n'a été trouvée.</h4><a class="bbtn btn-default btn-xs"  id="supprimer" title="Ajouter" href="{{path('nc')}}">Ajouter </a>
    </div>
    {% else %}
<!--  <h2> Nouveau Bureau </h2> -->
   
        <div class="f">
           <h4> <b>Mes catégories </b></h4>
                                 <table class="table table-condensed">
                                     <thead>
                                      <tr>
                                      <th>Num</th>
                                        <th>Nom</th>
                                        <th>Sites</th>
                                        <th>Actions</th> 
                                          <th><a class="bbtn btn-default btn-xs"  id="supprimer" title="Ajouter" href="{{path('nc')}}">Ajouter </a></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                     {% for s in categorie %}
                                       <tr >
                                       <td>{{ loop.index }} </td>
                                       <td>{{s.nom}}</td>
                                       <td> {% for site in s.sites %}
                                       <ul class="list-group"> 
                                       <a href="{{path('details',{'id':site.id})}}"  class="list-group-item ">{{ loop.index }} -{{site.nom}} </a> 
                                        {% endfor %}
                                       </ul> 
                                       </td>
                                       <td> <a class="glyphicon glyphicon-edit" href="{{ path('editerCat',{'id':s.id})}}"></a> <a class="glyphicon glyphicon-trash" href="{{ path('confirmSupprimerCat',{'id':s.id})}}"> </a> </div></td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                           </div>
                     </div>
      {% endif %}
      {% endblock %}
