   {% extends '::base.html.twig' %} 
  {% block title %}E_Gestion{% endblock %}
  {% block description %}Gérer votre entreprise{% endblock %} 
  {% block body%}
    <div class="surface">
    <div class="f">

    <h2>{{title}}</h2>
    {% if tache|length>0 %}
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                           <h4> <b>Mes tâches </b></h4>
                              <table class="table table-condensed">
                                     <thead>
                                      <tr>
                                      <th>Num</th>
                                        <th>Nom</th>
                                        <th>Déscription</th>
                                        <th>Urgence</th>
                                        <th> Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                     {% for s in tache %}
                                      {% if s.urgence=="Urgent" %}

                                       <tr class="danger">
                                       <td>{{ loop.index }} </td>
                                       <td><b> {{s.nom}}</b></td>
                                       <td>{{s.description}}</td>
                                       <td>{{s.urgence}}</td>
                                      
                                     <td class="td"> <a class="glyphicon glyphicon-remove" href="{{ path('supprimerTache',{'id':s.id})}}"> </a> <a class="glyphicon glyphicon-edit" href="{{ path('editerTache',{'id':s.id})}}"> </a></td>
                                    </tr>
                                     {% elseif s.urgence=="Moyen" %}
                                      <tr class="warning">
                                       <td>{{ loop.index }} </td>
                                       <td> <b>{{s.nom}}<b></td>
                                       <td>{{s.description}}</td>
                                       <td>{{s.urgence}}</td>
                                      
                                     <td class="td"> <a class="glyphicon glyphicon-remove" href="{{ path('supprimerTache',{'id':s.id})}}"> </a> <a class="glyphicon glyphicon-edit" href="{{ path('supprimerTache',{'id':s.id})}}"> </a></td>
                                    </tr>
                                    {% elseif s.urgence=="Faible" %}
                                      <tr class="success">
                                       <td>{{ loop.index }} </td>
                                       <td> <b>{{s.nom}}</b></td>
                                       <td>{{s.description}}</td>
                                       <td>{{s.urgence}}</td>
                                      
                                       <td class="td"> <a class="glyphicon glyphicon-remove" href="{{ path('supprimerTache',{'id':s.id})}}"> </a> <a class="glyphicon glyphicon-edit" href="{{ path('supprimerTache',{'id':s.id})}}"> </a></td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                   
                                  </tbody>
                                </table>

                            
                        </div>
                    </div>
                </div>
                {% endif %}
         </div>
         </div>
 {% endblock %} 