{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


 <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <h2>{{title}}</h2>
 <div class="f">
  <p>{{message}}</p>
 
    {{ form_start(formBureau, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(formBureau) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
      
             <div class="form-group">
            
              {{ form_label(formBureau.site, "Nom du site : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formBureau.site) }}
              {{ form_widget(formBureau.site, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">

              {{ form_label(formBureau.num, "Numéro/Nom : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formBureau.num) }}
              {{ form_widget(formBureau.num, {'attr': {'class': 'form-control'}}) }}
            </div>
          <!--  SECOND INSPUT FOR THE ADRESSE-->
            <div class="form-group">
              {{ form_label(formBureau.nbMax, "Nombre de personne max :  ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formBureau.nbMax) }}
              {{ form_widget(formBureau.nbMax, {'attr': {'class': 'form-control'}}) }}
            </div>    
           <!--  INSPUT FOR THE TOWN -->
            <div class="form-group">
              {{ form_label(formBureau.equipement, "Equipements", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formBureau.equipement) }}
              {{ form_widget(formBureau.equipement, {'attr': {'class': 'form-control'}}) }}
            </div>
               <!--  INSPUT FOR THE COUNTRY -->
           
             <!--  INSPUT FOR THE ... -->
            <div class="form-group">
              {{ form_label(formBureau.etage, "L'étage ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formBureau.etage) }}
              {{ form_widget(formBureau.etage, {'attr': {'class': 'form-control'}}) }}
            </div>  
             <!--  INSPUT FOR THE offices-->
              <div class="form-group">
              {{ form_label(formBureau.superficieReelle, "La superficie réelle : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formBureau.superficieReelle) }}
              {{ form_widget(formBureau.superficieReelle, {'attr': {'class': 'form-control'}}) }}
            </div>  
             <div class="form-group">
              {{ form_label(formBureau.superficieCommerciale, "La superficie commerciale : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formBureau.superficieCommerciale) }}
              {{ form_widget(formBureau.superficieCommerciale, {'attr': {'class': 'form-control'}}) }}
            </div> 
              <div id="tarif">
              {{ form_rest(formBureau)}} 
             </div>
               
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(formBureau.Valider, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>
             <hr>
            {{ form_end(formBureau) }}
            </form>
        </div>

   </div>
 {% endblock %} 

