{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}
{% block body%}

 <div class="surface">
   <h2>Nouveau Site</h2>
   <div class="f">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	{# Les erreurs générales du formulaire. #}
	{{ form_errors(form) }}
						<div class="form-group">
			              {{ form_label(form.categorie, "Catégorie : ", {'label_attr': {'class': 'control-label'}}) }}
			              {{ form_errors(form.categorie) }}
			              {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
			            </div>
                    <!--  FIRST INSPUT FOR NAME -->
						<div class="form-group">
							{{ form_label(form.nom, "Le nom : ", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.nom) }}
							{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
						</div>
					<!--  SECOND INSPUT FOR THE ADRESSE-->
						<div class="form-group">
							{{ form_label(form.adresse, "L'adresse :  ", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.adresse) }}
							{{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
						</div>		
					 <!--  INSPUT FOR THE TOWN -->
						<div class="form-group">
							{{ form_label(form.ville, "La ville", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.ville) }}
							{{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
						</div>
							 <!--  INSPUT FOR THE COUNTRY -->
						<div class="form-group">
							{{ form_label(form.pays, "Le pays", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.pays) }}
							{{ form_widget(form.pays, {'attr': {'class': 'form-control'}}) }}
						</div>
						 <!--  INSPUT FOR THE ... -->
						 	<div class="form-group">
							{{ form_label(form.tel, "Tél : ", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.tel) }}
							{{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							{{ form_label(form.superficie, "La superficie en m2", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.superficie) }}
							{{ form_widget(form.superficie, {'attr': {'class': 'form-control'}}) }}
						</div>	
						 <!--  INSPUT FOR THE offices-->
                        <div class="form-group">
							{{ form_label(form.nb_bureau, "Nombre des bureaux", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.nb_bureau) }}
							{{ form_widget(form.nb_bureau, {'attr': {'class': 'form-control'}}) }}
						</div>	
                              <!--  INSPUT FOR THE salle de réunion-->
                        <div class="form-group">
							{{ form_label(form.nb_salle_reunion, "Nombre des salle de réunion", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.nb_salle_reunion) }}
							{{ form_widget(form.nb_salle_reunion, {'attr': {'class': 'form-control'}}) }}
						</div>
                              <!--  INSPUT FOR THE salle de formation-->
                        <div class="form-group">
							{{ form_label(form.nb_salle_formation, "Nombre des salles de formation", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.nb_salle_formation) }}
							{{ form_widget(form.nb_salle_formation, {'attr': {'class': 'form-control'}}) }}
						</div>
						 <div class="form-group">
							{{ form_label(form.nb_boite_postale, "Nombre des boîtes postales", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.nb_boite_postale) }}
							{{ form_widget(form.nb_boite_postale, {'attr': {'class': 'form-control'}}) }}
						</div>	
						  <!--  INSPUT FOR THE PARKING-->
                        <div class="form-group">
							{{ form_label(form.nb_parking, "Nombre des parking", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.nb_parking) }}
							{{ form_widget(form.nb_parking, {'attr': {'class': 'form-control'}}) }}
						</div>
                        
                      
						 <!--  INSPUT FOR THE coWorking-->
						<div class="form-group">
							{{ form_label(form.nb_coworking, "Nombre des espaces co-working", {'label_attr': {'class': 'control-label'}}) }}
							{{ form_errors(form.nb_coworking) }}
							{{ form_widget(form.nb_coworking, {'attr': {'class': 'form-control'}}) }}
						</div>
						<!--  VALID BUTTON -->
						<div class="form-group">
							{{ form_widget(form.Valider, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
						</div>
                        <hr>
						{# Génération automatique des champs pas encore écrits.
						 et tous les champs cachés (type « hidden »). #}
						{{ form_rest(form) }}			
						{# Fermeture de la balise <form> du formulaire HTML #}
						{{ form_end(form) }}
				    </form>
				</div>
   </div>
{% endblock %} 

