{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}

{% include "BureauAndCoSiteBundle:Default:menu2.html.twig" %}
 <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
<h2>{{title}}</h2>
 <div class="f">
  <p>{{message}}</p>
    {{ form_start(formSf, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(formSf) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
             <div class="form-group">
            
              {{ form_label(formSf.site, "Nom du site : ", {'label_attr': {'class': 'control-label'}}) }}
               {{ form_errors(formSf.site) }}
              {{ form_widget(formSf.site, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">

              {{ form_label(formSf.num, "Numéro de la salle de formation : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSf.num) }}
              {{ form_widget(formSf.num, {'attr': {'class': 'form-control'}}) }}
            </div>
          <!--  SECOND INSPUT FOR THE ADRESSE-->
            <div class="form-group">
              {{ form_label(formSf.nbMax, "Nombre de personne max :  ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSf.nbMax) }}
              {{ form_widget(formSf.nbMax, {'attr': {'class': 'form-control'}}) }}
            </div>    
           <!--  INSPUT FOR THE TOWN -->
            <div class="form-group">
              {{ form_label(formSf.equipement, "Equipements", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSf.equipement) }}
              {{ form_widget(formSf.equipement, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
              {{ form_label(formSf.etage, "L'étage ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSf.etage) }}
              {{ form_widget(formSf.etage, {'attr': {'class': 'form-control'}}) }}
            </div>  
             <!--  INSPUT FOR THE offices-->
              <div class="form-group">
              {{ form_label(formSf.superficieReelle, "La superficie réelle", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSf.superficieReelle) }}
              {{ form_widget(formSf.superficieReelle, {'attr': {'class': 'form-control'}}) }}
            </div> 
            <div class="form-group">
              {{ form_label(formSf.superficieCommerciale, "La superficie réelle", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSf.superficieCommerciale) }}
              {{ form_widget(formSf.superficieCommerciale, {'attr': {'class': 'form-control'}}) }}
            </div>     
             <div class="form-group">
               <div id="tarif">
              {{ form_rest(formSf)}} 
             </div> 
               </div>            
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(formSf.Valider, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>
                        <hr>
            {# Génération automatique des champs pas encore écrits.
             et tous les champs cachés (type « hidden »). #}
              
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(formSf) }}
            </form>
        </div>
   </div>
 {% endblock %} 

