{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}

{% include "SiteBundle:Default:menu2.html.twig" %}
 <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <div class="f">
 
    {{ form_start(formT, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(formT) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
      
             <div class="form-group">
            
              {{ form_label(formT.site, "Ce tarif de base concerne les surfaces exploiées du site : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formT.site) }}
              {{ form_widget(formT.site, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">

              {{ form_label(formT.devise, "La devise : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formT.devise) }}
              {{ form_widget(formT.devise, {'attr': {'class': 'form-control'}}) }}
            </div>
          <!--  SECOND INSPUT FOR THE ADRESSE-->
            <div class="form-group">
              {{ form_label(formT.heure, "L'heure :  ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formT.heure) }}
              {{ form_widget(formT.heure, {'attr': {'class': 'form-control'}}) }}
            </div>    
           <!--  INSPUT FOR THE TOWN -->
            <div class="form-group">
              {{ form_label(formT.demijournee, "Demi-journée", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formT.demijournee) }}
              {{ form_widget(formT.demijournee, {'attr': {'class': 'form-control'}}) }}
            </div>
              
             <!--  INSPUT FOR THE ... -->
            <div class="form-group">
              {{ form_label(formT.journee, "La journée", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formT.journee) }}
              {{ form_widget(formT.journee, {'attr': {'class': 'form-control'}}) }}
            </div>  
             <!--  INSPUT FOR THE offices-->
              <div class="form-group">
              {{ form_label(formT.mois, "Le mois", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formT.mois) }}
              {{ form_widget(formT.mois, {'attr': {'class': 'form-control'}}) }}
            </div>  
            {{ form_rest(formT)}} 
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(formT.Valider, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div> 
            {{ form_end(formT) }}
            </form>
        </div>

   </div>
 {% endblock %} 

