{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}

 <div class="surface"> 
   <h2> Nouvelle catégorie </h2>
 <div class="f">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
            <div class="form-group">
              {{ form_label(form.nom, "Le nom : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.nom) }}
              {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
                       
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>
                        <hr>
            {# Génération automatique des champs pas encore écrits.
             et tous les champs cachés (type « hidden »). #}
            {{ form_rest(form) }}     
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
            </form>
        </div>

   </div>
 {% endblock %} 

