{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}

{% include "BureauAndCoSiteBundle:Default:menu2.html.twig" %}
 <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <h2>{{title}}</h2>
 <div class="f">
  <p>{{message}}</p>
    {{ form_start(formSr, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(formSr) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
             <div class="form-group">
            
              {{ form_label(formSr.site, "Nom du site : ", {'label_attr': {'class': 'control-label'}}) }}
               {{ form_errors(formSr.site) }}
              {{ form_widget(formSr.site, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">

              {{ form_label(formSr.num, "Numéro de la salle de réunion : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSr.num) }}
              {{ form_widget(formSr.num, {'attr': {'class': 'form-control'}}) }}
            </div>
          <!--  SECOND INSPUT FOR THE ADRESSE-->
            <div class="form-group">
              {{ form_label(formSr.nbMax, "Nombre de personne max :  ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSr.nbMax) }}
              {{ form_widget(formSr.nbMax, {'attr': {'class': 'form-control'}}) }}
            </div>    
           <!--  INSPUT FOR THE TOWN -->
            <div class="form-group">
              {{ form_label(formSr.equipement, "Equipements", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSr.equipement) }}
              {{ form_widget(formSr.equipement, {'attr': {'class': 'form-control'}}) }}
            </div>
        
             <!--  INSPUT FOR THE ... -->
            <div class="form-group">
              {{ form_label(formSr.etage, "L'étage ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSr.etage) }}
              {{ form_widget(formSr.etage, {'attr': {'class': 'form-control'}}) }}
            </div>  
             <!--  INSPUT FOR THE offices-->
              <div class="form-group">
              {{ form_label(formSr.superficieReelle, "La superficie réelle : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSr.superficieReelle) }}
              {{ form_widget(formSr.superficieReelle, {'attr': {'class': 'form-control'}}) }}
            </div>   
            <div class="form-group">
              {{ form_label(formSr.superficieCommerciale, "La superficie commerciale :", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(formSr.superficieCommerciale) }}
              {{ form_widget(formSr.superficieCommerciale, {'attr': {'class': 'form-control'}}) }}
            </div>  
            <hr>           
          
               <div id="tarif">
              {{ form_rest(formSr)}} 
             </div> 
             <div class="form-group">
              {{ form_widget(formSr.Valider, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>  
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(formSr) }}
            </form>
        </div>
   </div>
 {% endblock %} 

