{% extends '::base.html.twig' %} 
{% block title %}E_Gestion Recherche{% endblock %}

{% block body%}
 <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <h2> {{title}}</h2>
 <div class="f">
    {{ form_start(form, {'attr': {'class': 'form-'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
            <div class="form-group">
              {{ form_label(form.type, "Surafce recherchée : ", {'label_attr': {'class': 'control-label'}}) }}
            <!--   {{ form_errors(form.type) }} -->
              {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
              {{ form_label(form.site, "Le site : ", {'label_attr': {'class': 'control-label'}}) }}
            <!--   {{ form_errors(form.type) }} -->
              {{ form_widget(form.site, {'attr': {'class': 'form-control'}}) }}
            </div>  
            {% endif %}  
            <div class="form-group">
              {{ form_label(form.libre, "Libre/non : ", {'label_attr': {'class': 'control-label'}}) }}
            <!--   {{ form_errors(form.type) }} -->
              {{ form_widget(form.libre, {'attr': {'class': 'form-control'}}) }}
            </div> 
            
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(form.Rechercher, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>
                        <hr>
            {# Génération automatique des champs pas encore écrits.
             et tous les champs cachés (type « hidden »). #}
                
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
            </form>
        </div>

   </div>
 {% endblock %} 

