{% extends '::base.html.twig' %} 
{% block title %}E_Gestion Resultat de recherche{% endblock %}
{% block body%}

 <div class="bloc"> 
  <div class="f">
 {%  if data|length>0 %}

    <table class="table table-condensed">
     <thead>
      <tr>
        <th>Résultat</th>
        <th></th>
      
      </tr>
    </thead>
    <tbody>

     {% for d in data %}

     <tr>
      <td> 
         <div class="info">
           <div class="panel panel-default">
    	      <div class="panel-heading"> 

    	         <b> {{d.site}}:{{type}} </b>
    	       </div>
    		  <div class="panel-body" >
    		   <ul>
    		     <li> Nom: {{d.num}}</li>
             <li> Description:{{d.description}}</li>
    		     <li> Etage:{{d.etage}}</li>
    		     <li> Superficie commerciale : {{d.superficieCommerciale}}m2</li>
             <li> Superficie réelle: {{d.superficieReelle}}m2</li>
    		     <li> Capacité: {{d.nbMax}} personne(s)</li>
             <li>Libre:{{d.libre}}</li>
             <li> <b>Tarif: </b>{{d.tarif}}</li>

    		      <a class="bbtn btn-warning btn-xs" id="reserver" href="{{path('reservation',{'id':d.id})}}">Résever </a>
              <a class="bbtn btn-success btn-xs" id="louer" href="{{path('location',{'id':d.id})}}">Louer </a>
    		   </ul>
			  </div>
   		</div>
    </div>
    </td>
  </tr>
 {% endfor %}
  <tbody>
  
  </table>
  {% else %}
  
  <h4> Aucun résultat n'a été trouvé </h4>
  <a class="bbtn btn-success btn-xs" id="retour" href="{{path('recherche')}}">Retour </a>{% endif %}</div>
 </div>
</div>

{% endblock %} 

