<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}E_Gestion{% endblock %}</title>
  {% block stylesheets %}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
  <link rel="stylesheet" href="{{ asset('bundles/framework/css/base.css') }}" type="text/css" media="all" />
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />

</head>
<body> 
  {% if app.session.flashBag.has('success') %}
  <div class="alert alert-success" id="alert">
    {% for msg in app.session.flashBag.get('success') %}
    {{ msg }}
    {% endfor %}

  </div>
  {% endif %}
  <div id="header">
    <div id="bandeau">
     Bonjour {{app.user.username}}
      <div id="logout">
      <form action="{{path('logout')}}"> 
       <button type="submit" class="btn btn-danger btn-xs" >
       <span class="glyphicon glyphicon-log-out" ></span>
       </button>
       </form>
       </div>
    </div>
      
      <div class="logo">
        <a href="" rel="nofollow"><img src="{{ asset('bundles/logo.png') }}"></a>
      </div>
    
    <div id="menu">
      <nav class = "navbar navbar-default" role = "navigation">

       <div class = "navbar-header">
        <button type = "button" class = "navbar-toggle" 
        data-toggle = "collapse" data-target = "#example-navbar-collapse">
        <span class = "sr-only">Toggle navigation</span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
        <span class = "icon-bar"></span>
      </button>

      <a class = "navbar-brand" href = "{{path('a')}}">Bureaux&Co</a>
    </div>

    <div class = "collapse navbar-collapse" id = "example-navbar-collapse">

      <ul class = "nav navbar-nav">
       <li class = "dropdown">
        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
         Mes sites
         <b class = "caret"></b>
       </a>

       <ul class = "dropdown-menu">
         {% if is_granted('ROLE_ADMIN') %}
         <li><a href = "{{path('ns')}}">Nouveau Site</a></li>
         <li><a href = "{{path('nc')}}">Nouvelle catégorie</a></li>
          <li><a href = "{{path('mesCat')}}">Mes catégories</a></li>
         {% endif %}
         <li><a href = "{{path('nouvelleSurface')}}">Nouvelle Surface exploitée</a></li>
         <li><a href = "{{path('gestion')}}">Gestion des sites</a></li>
       </ul>

     </li>
     {% if is_granted('ROLE_ADMIN') %}
     <li class = "dropdown">
      <a class="glyphicon glyphicon-education" href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
       Mes assistants
       <b class = "caret"></b>
     </a>

     <ul class = "dropdown-menu">
       <li><a href = "{{path('nouveauCompte')}}">Nouveau compte</a></li>
       <li><a href = "{{path('gestionAssistant')}}">Gestion des assistants</a></li>
     </ul>   
   </li>
   {% endif%}
   <li class = "dropdown">
    <a class="glyphicon glyphicon-user" href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
     Mes clients
     <b class = "caret"></b>
   </a>

   <ul class = "dropdown-menu">
     <li><a href = "{{path('nouveauLocataire')}}">Nouveau client</a></li>
     <li><a href = "{{path('nouveauProspect')}}">Nouveau Prospect</a></li>
     <li><a href = "{{path('gestionClient')}}">Mes clients</a></li>
     <li><a href = "{{path('mesProspects')}}"> Mes prospect clients</a></li>

   </ul>

 </li>

 <li class = "dropdown">
    <a class="glyphicon glyphicon-file" href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
     Mes Contrats
     <b class = "caret"></b>
   </a>

   <ul class = "dropdown-menu">
    {% if is_granted('ROLE_ADMIN') %}
      <li><a href = "{{path('nouvelleLocation')}}">Nouvelle Location</a></li>
       {% endif %}
     <li><a href = "{{path('listLocation')}}">Mes locations</a></li>
     <li><a href = "{{path('listReservation')}}">Mes réservations</a></li>
   </ul>
 </li>
<li class = "dropdown">
  <a class="glyphicon glyphicon-tasks" href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
   Mes tâches
   <b class = "caret"></b>
 </a>
 <ul class = "dropdown-menu">
   <li><a href = "{{path('nouvelleTache')}}">Nouvelle tâche</a></li>
   <li><a href = "{{path('listeDesTaches')}}">Mes tâches</a></li>
 </ul> 

</li>
<li class = "dropdown">
  <a class="glyphicon glyphicon-search" href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
   Recherche
   <b class = "caret"></b>
 </a>
 <ul class = "dropdown-menu">
   <li><a href = "{{path('recherche')}}">Surface exploitée</a></li>
   
 </ul> 
</li>
{% if is_granted('ROLE_ADMIN') %}
 <li class = "dropdown">
  <a class="glyphicon glyphicon-stats" href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
   Statistique
   <b class = "caret"></b>
 </a>
 <ul class = "dropdown-menu">
   <li><a href = "{{path('statistique')}}">Nombre des clients</a></li>
   
 </ul> 
</li>
{% endif %}
</ul>
</div>
</nav>
</div>
</div>
</body>


{% block body%}


{% endblock %} 
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %} 

</body>

</html>

