{% extends '::base.html.twig' %} 
  {% block title %}E_Gestion{% endblock %}
  {% block description %}Gérer votre entreprise{% endblock %} 
  {% block body%}
<div class="bloc">       
 <div class="info" id="info">
       <div class="panel panel-default">
       <div class="panel-heading"> 

          <b>Mes surfaces à gérer : </b>
          <form action="" > 
            <select name="customers" id="selectType">
      
              <option value="Tous">Tous</option>
              <option value="Bureau">Bureau</option>
              <option value="SalleReunion">Salles de Réunion</option>
              <option value="SalleFormation">Salle de formation</option>
              <option value="CoWorking">Espace co-working</option>
              <option value="BoitePostale">Boîte postale</option>
              <option value="Enfant">Enfant</option>
          </select>
              <select id="libreOrNot">
              <option value="oui">Libre</option>
              <option value="non">Occupé</option>
              <option value="reserve">Réservé</option></select>
          </form>
         

       </div>
         <div class="panel-body" >
             <div id="bureau">
            <table class="table table-condensed" id="t">
             <thead>
              <tr>
                <th>Numéro</th>
                <th>Equipement</th>
                <th>Nombre de personne Max</th>
                
                

              </tr>
            </thead>
            <tbody>
             {% for s in surfaces %}

             <tr>
              <td> {{s.num}}</td> 
              <td>{{s.equipement}}</td>
              <td>{{s.nbMax}}</td> 

              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
      
      </div>
  </div>

</div>


                      
</div>
    
{% endblock %} 
 {% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src=" {{ asset('bundles/framework/js/fonctions.js') }} "></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}