{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


 <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <h4> {{title}} </h4>
 <div class="tarif">

    <form action="{{path('nouveauCompte')}}" method="POST" class= "form-horizontal">


    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
     <div class="form-group">
            
              {{ form_label(form.compte, "Le type : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.compte) }}
              {{ form_widget(form.compte, {'attr': {'class': 'type'}})}}
            </div>

             <div class="form-group">
            
              {{ form_label(form.username, "Pseudo : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.username) }}
              {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>

             <div class="form-group">
            
              {{ form_label(form.email, "Email : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.email) }}
              {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
          
            <div class="form-group">
              {{ form_label(form.password, "Mot de passe : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.password) }}
              {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
          <div class="form-group" id="site">
              {{ form_label(form.site, "Site à gérer : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.site) }}
              {{ form_widget(form.site, {'attr': {'class': 'site'}})}} 
            </div>
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>
             <hr>
            {{ form_rest(form)}}
            {{ form_end(form) }}
            </form>
        </div>

   </div>
 {% endblock %} 



