{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


<!--  <h2> Nouveau Bureau </h2> -->
<div class="bloc"> 
 {% if list|length<=0 %}
 <h4> Aucun client n'a été trouvé! </h4>
 {% else %}
  <div class="f">
    <table class="table table-condensed">
     <thead>
      <tr>
        <th>Num</th>
        <th>Nom de la société</th>
        <th>Activité</th>
        <th>Locations</th>
        <th>Réservations</th>
        <th>Actions<th>
        
      </tr>
    </thead>
    <tbody>
  {% if is_granted('ROLE_ADMIN') %}
     {% for client in list %}

     <tr>
      <td> {{loop.index}}</td>
      <td> {{client.nom}}</td>
      <td>{{client.activite}}  </td>
      <td> {% for locations in client.location %}
                                    
                                       <ul class="list-group">
                                       <a href="{{path('infoLocation',{'id':locations.id})}}"  class="list-group-item ">{{ loop.index }} -{{locations.surface}} </a> 
                                       {% endfor %}
                                       </ul> 
                                       
                                       </td>
                                       <td> {% for reservation in client.reservation %}
                                        <ul class="list-group" >
                                          <a href="{{path('infoReservation',{'id':reservation.id})}}" class="list-group-item"> {{ loop.index }} -{{reservation.surface}} </a> 
                                        {% endfor %}
                                       </ul>
                                      
                                       </td>
                                       
      
     
     
      <td>
        <div id="action"><a class="glyphicon glyphicon-edit" href="{{ path('editerClient',{'id':client.id})}}"></a> <a class="glyphicon glyphicon-trash" href="{{ path('supprimerClient',{'id':client.id})}}"> </a> </div></td> <td> <a class="bbtn btn-info btn-xs" href="{{ path('infoClient',{'id':client.id}) }}">Info </a></td>
       
    </tr>
    {% endfor %}
 {% else %}
 {% if is_granted('ROLE_ASSISTANT') %}
  {% for l in list %}

     <tr>
      <td> {{loop.index}}</td>
      <td> {{l.locataire}}</td>
      <td>{{l.locataire.activite}}</td>
      <td> {% for locations in l.locataire.location %}
                                    
                                       <ul class="list-group">

                                       <a href="{{path('infoLocation',{'id':locations.id})}}"  class="list-group-item ">{{ loop.index }} -{{locations.surface}} </a> 
                                       {% endfor %}
                                       </ul> 
                                       
                                       </td>
                                       <td> {% for reservation in l.locataire.reservation %}
                                        <ul class="list-group" >
                                          <a href="{{path('infoReservation',{'id':reservation.id})}}" class="list-group-item"> {{ loop.index }} -{{reservation.surface}} </a> 
                                        {% endfor %}
                                       </ul>
                                      
                                       </td>
                                       
      
     
     
      <td>
        <div id="action"><a class="glyphicon glyphicon-edit" href="{{ path('editerClient',{'id':l.locataire.id})}}"></a> <a class="glyphicon glyphicon-trash" href="{{ path('supprimerClient',{'id':l.locataire.id})}}"> </a> </div></td> <td> <a class="bbtn btn-info btn-xs" href="{{ path('infoClient',{'id':l.locataire.id}) }}">Info </a></td>
       
    </tr>
    {% endfor %}
    {% endif %}
    {% endif %}
  </tbody>

</table>
</div>
{%  endif %}
</div>
{% endblock %}
