{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}
<div class="bloc"> 
  <h2> Mes Assistants :</h4>
   <div id="f">
   
    <br>
   <div class="table-responsive">  
      <table class="table">
       <thead>
        <tr>
          <th>Numéro</th>
          <th>Pseudo</th>
          <th>Email</th>
          <th>Site à gérer</th>
          <th>Etat du compte </th>
          <th></th>

        </tr>
      </thead>
      <tbody>
       {% for assistant in list %}
       <tr>
        <td> {{loop.index}}</td>
        <td> {{assistant.username}}</td>
        <td>{{assistant.email}}  </td>
        
            {% if assistant.compte =="Admin"%}
             <td> <li>Tous privilèges </il></td>
           {% else %}
           <td>
         
           <li>{{assistant.site}}</li></td>
           {%  endif %}
            <td> {% if assistant.isActive=="1" %}
             <a class="bbtn btn-danger btn-xs" href="{{ path('desactiverCompte',{'id':assistant.id})}}">Désactiver </a>{% else %}<a class="bbtn btn-success btn-xs" href="{{ path('activerCompte',{'id':assistant.id})}}">Activer </a>{% endif %}
             <div id="action"><a class="glyphicon glyphicon-edit" href="{{path('editerCompte',{'id':assistant.id})}}"></a> 
              <a class="glyphicon glyphicon-trash" href="{{path('suprimerAssistant',{'id':assistant.id})}}"> </a> </div></td>
            </tr>
            {% endfor %}
          </tbody>
        
        </table>
          <center> <div class="navigation">
    {{ knp_pagination_render(list) }}
</div></center>
      </div>
    </div>
  </div>
  {% endblock %}
