{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


 --> <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <h2> Info Client : </h2>
   <div id="f1">
    
           <ul id="infoClient">
             <li> Nom: {{client.nom}}</li>
             <li> Activité:{{client.activite}}</li>
             <li>Siège Social:{{client.siegeSocial}}</li>
             <li>N° Siret:{{client.numSiret}}</li>
             <li>N° TVA:{{client.numTva}}</li>
             <li>Capital social:{{client.capital}} €</li>
             <li>Forme juridique:{{client.formeJuridique}}</li>
             <!-- le représentant -->
              <div id="representant">
              <h4> <b>Le représentant: </b></h4>
                 <li> Nom:{{representant.nom}}</li>
                 <li> Prénom:{{representant.prenom}} </li>
                 <li> Email:{{representant.email}} </li>
                 <li>Tél: {{representant.tel}}</li>
                 <li> Adresse: {{representant.adresse}}</li>
                 </div>
                <!--  Personne à contacter -->
                   <div id="representant">
                    <h4> <b>Personne à contacter: </b></h4>
                         <li> Nom:{{contact.nom}}</li>
                         <li> Prénom:{{contact.prenom}} </li>
                          <li>Fonction:{{contact.fonction}} </li>
                         <li> Email:{{contact.email}} </li>
                         <li>Tél: {{contact.tel}}</li>
                         <li> Adresse: {{contact.adresse}}</li>
                 </div>
                  
             </ul>
             <br>
           
       
            <center> <a class="bbtn btn-danger btn-sm" href="{{path('gestionClient')}}">Retour </a></center>
  </div>
 </div>
   

 {% endblock %} 

