{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


<!--  <h2> Nouveau Bureau </h2> -->
<div class="bloc"> 
 {% if list|length<=0 %}
 <h4> Aucun client prospect n'a été trouvé! </h4>
 {% else %}
 
   
  <div class="f">
    <table class="table table-condensed">
     <thead>
      <tr>
        <th>Num</th>
        <th>Nom de la société</th>
        <th>Activité</th>
        <th>Ville/siège social</th>
        <th>Email </th>
        <th>Tél</th>
        <th>Réservations</th>
        <th>Actions<th>
        
      </tr>
    </thead>
    <tbody>
     {% for client in list %}

     <tr>
      <td> {{loop.index}}</td>
      <td> {{client.nom}}</td>
      <td> {{client.activite}}  </td>
      <td> {{client.ville}}</td>
      <td> {{client.email}}</td>
      <td>{{client.tel}}  </td>
      <td> {% for reservation in client.reservation %}
                                    
                                       <ul class="list-group">
                                       <a href="{{path('infoReservation',{'id':reservation.id})}}"  class="list-group-item ">{{ loop.index }} -{{reservation.surface}} </a> 
                                       {% endfor %}
                                       </ul> 
                                       
                                       </td>
                                      
                                       
      
     
     
      <td>
        <div id="action"><a class="glyphicon glyphicon-edit" href="{{path('editerProspect',{'id':client.id})}}"></a> <a class="glyphicon glyphicon-trash" href="{{path('supprimerProspect',{'id':client.id})}}"> </a> </div></td> 
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>
{%  endif %}
</div>
{% endblock %}
