{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


 <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <div class="f">
 
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
      
             <div class="form-group">
            
              {{ form_label(form.nom, "Donnez un nom à cette tâche : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.nom) }}
              {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">

              {{ form_label(form.description, "Déscription : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.description) }}
              {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
          <!--  SECOND INSPUT FOR THE ADRESSE-->
           <div id="tarif">
            <div class="form-group">
              {{ form_label(form.dateRappel, "Me rappeler le : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.dateRappel) }}
              {{ form_widget(form.dateRappel) }}
            </div> 
            <div class="form-group">
              {{ form_label(form.dateFin, "Délais : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.dateFin) }}
              {{ form_widget(form.dateFin) }}
            </div> 

             <div class="form-group">
              {{ form_label(form.urgence, "Urgence : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.urgence) }}
              {{ form_widget(form.urgence, {'attr': {'class': 'form-control'}}) }}
            </div> 
            </div>
            <hr>
           
            
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>
             <hr>
             {{ form_rest(form)}} 
            {{ form_end(form) }}
            </form>
        </div>

   </div>
 {% endblock %} 

