{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


 --> <!--  <h2> Nouveau Prospect </h2> -->
 <div class="surface"> 
 <div class="f">
 
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
      
             <div class="form-group">
            
              {{ form_label(form.nom, "Nom de l'entreprise : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.nom) }}
              {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            
          
            <div class="form-group">
              {{ form_label(form.activite, "Activité : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.activite) }}
              {{ form_widget(form.activite, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.email, "Email : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.email) }}
              {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
          <div class="form-group">
              {{ form_label(form.tel, "Tél : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.tel) }}
              {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
            </div>
           <!--  INSPUT FOR THE TOWN -->
             <div class="form-group">
              {{ form_label(form.ville, "Ville : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.ville) }}
              {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
            </div>
             
            
               <hr>
               
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>
             <hr>
            {{ form_rest(form)}} 
            {{ form_end(form) }}
            </form>
        </div>

   </div>
 {% endblock %} 

