{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


 --> <!--  <h2> Nouveau Bureau </h2> -->
 <div class="surface"> 
 <div class="f">
 
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
      
             <div class="form-group">
            
              {{ form_label(form.nom, "Nom de l'entreprise : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.nom) }}
              {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
             <div class="form-group">
            
              {{ form_label(form.siegeSocial, "Siège social : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.siegeSocial) }}
              {{ form_widget(form.siegeSocial, {'attr': {'class': 'form-control'}}) }}
            </div>
          
            <div class="form-group">
              {{ form_label(form.activite, "Activité : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.activite) }}
              {{ form_widget(form.activite, {'attr': {'class': 'form-control'}}) }}
            </div>
       
            <div class="form-group">

              {{ form_label(form.numSiret, "N° SIREN: ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.numSiret) }}
              {{ form_widget(form.numSiret, {'attr': {'class': 'form-control'}}) }}
            </div> 
            <div class="form-group">
              {{ form_label(form.numTva, "N° TVA : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.numTva) }}
              {{ form_widget(form.numTva, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.formeJuridique, "Forme juridique: ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.formeJuridique) }}
              {{ form_widget(form.formeJuridique, {'attr': {'class': 'form-control'}}) }}
            </div>
             <div class="form-group">
              {{ form_label(form.capital, "Capital social: ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.capital) }}
              {{ form_widget(form.capital, {'attr': {'class': 'form-control'}}) }}
            </div>
            
         <hr>
            {# Génération automatique des champs pas encore écrits.
             et tous les champs cachés (type « hidden »). #}
            <div id="tarif">
              {{ form_rest(form)}} 
             </div>
            
     
             <hr>
             
            {{ form_end(form) }}
            </form>
        </div>

   </div>
 {% endblock %} 

