{% extends '::base.html.twig' %} 
{% block title %}E_Gestion NouveauSite{% endblock %}

{% block body%}


 <!--  <h2> Nouveau Bureau </h2> -->
  <div class="surface"> 
<h2>{{title}}</h2>
 <div class="f">
  <p>{{message}}</p>
 <div class="f">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
     <!--  FIRST INSPUT FOR THE OFFICE NUMBER -->
             
            <div class="form-group">

              {{ form_label(form.dateFin, "Date de fin de contrat : ", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.dateFin) }}
              {{ form_widget(form.dateFin) }}
            </div>
          <!--  SECOND INSPUT FOR THE ADRESSE-->
           
            <!--  VALID BUTTON -->
            <div class="form-group">
              {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-danger btn-lg btn-block'}}) }}
            </div>
                        <hr>
               
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
            </form>
        </div>
   </div>
 {% endblock %} 

